/bin
/obj
*.log
*.user
*.suo
*.vs
/node_modules
frontend/node_modules/
frontend/node_modules/.cache/

*/AssemblyInfo.cs
MyMapAppDb.db
MyMapAppDb.db-Shm
MyMapAppDb.db-wal
Bachelor.dll
Bachelor.pdb
Bachelor.staticwebassets.runtime.json
staticwebassets/
.DS_Store





