html, body {
    height: 100%;
    margin: 0;
    font-family: 'Lato';
    line-height: 1.6;
    scroll-behavior: smooth;
}
body {
    transition: background-color 0.5s ease-in-out;
  }
  

* {
    box-sizing: border-box;
}

.sticky-wrapper {
    position: relative;
    height: 500vh; /* Juster til antall sticky seksjoner × 100vh */
}

.sticky-section {
    position: sticky;
    top: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 2rem 1rem;
}

.home-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.hero-image-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.hero-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.hero-text-section {
    position: absolute;
    top: 82%; /* juster etter smak */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.hero-content {
    padding: 2rem 2rem;
    max-width: 900px;
    text-align: center;
}

.hero-divider {
    position: absolute;
    bottom: 30%;
    left: 0;
    width: 100%;
    z-index: 1;
    line-height: 0;
}


.hero-content h1 {
    font-size: 2rem;
    color: #2C3E50;
    margin-bottom: 1rem;
    font-family: 'Glory', 'Lato', sans-serif;
}

.hero-content p {
    font-size: 1rem;
    color: #2C3E50;
    font-family: 'Lato', sans-serif;
}

/* Services Section */
.services {
    background: #eef6fa;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
    flex-wrap: wrap;
    width: 100%;
    padding: 2rem 0;
    height: 100vh;
}

.service {
    width: 30%;
    padding: 10px;
    text-align: center;
    flex: 1 1 250px;
    max-width: 350px;
}

.service:nth-child(1),
.service:nth-child(3) {
    margin-top: 0; /* Ensure first and third services are aligned */
}

.service:nth-child(2) {
    margin-top: 20vh; /* Push the middle service down */
}

.service img {
    width: 10vw;
    height: auto;
    object-fit: contain;
    margin-bottom: 20px;
}

.service h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.service p {
    font-size: 1rem;
}


.main-text-section {
    display: flex;
    justify-content: center;  /* Horizontally center */
    align-items: center;  /* Vertically center */
    padding: 50px 20px;
    text-align: center;
    height: 100vh;  /* Ensure it takes up the full height of the viewport */
}

.main-text-section h1 {
    font-size: 2rem;
    color: #b0def4;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.main-text-section p {
    font-size: 1.2rem;
    color: white;
    line-height: 1.6;
    margin-top: 1rem;
    max-width: 60%;
    margin: 0 auto;
}

.main-bg-1 {
    background: #374B60;    /* Lys blå */
}
.main-bg-2 {
    background: #2C3E50;    /* Ekstra lys blå/hvitaktig */
}
.main-bg-3 {
    background: #23303D;    /* Mørk blå */
    color: #fff;
}

.section {
    height: 100vh;
    min-height: 100vh;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    padding: 0 !important;
    margin: 0 !important;
}

/* Footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #b0def4;
    padding: 0;
    font-size: 14px;
    color: #333;
}

.footer p {
    margin: 0;
}

@media screen and (min-width: 1440px) {
    .hero-image {
        max-height: 60vh; /* Adjust image height for very large screens */
    }

    .services {
        padding: 5vh 10vw; /* Increase padding to utilize space on very large screens */
    }

    .service {
        width: 20%;  /* Make service items narrower on very large screens */
    }

    .hero-content h1 {
        font-size: 2rem; /* Increase font size for very large screens */
    }
}

@media screen and (min-width: 1024px) {
    .hero-image {
        max-height: 70vh; /* Ensures the image isn't too large on larger screens */
    }
    .hero-divider {
        bottom: 30%;
    }

    .hero-content h1 {
        font-size: 3rem;  /* Increase font size on larger screens */
    }

    .hero-content p {
        font-size: 1rem; /* Adjust font size for larger screens */
    }
    .services {
        flex-direction: row; /* More columns for services on larger screens */
        justify-content: space-around;
        align-items: flex-start;
        padding: 5vh 2rem;
    }

    .service {
        width: 30%;  /* Increase width of service items on larger screens */
        margin-bottom: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .hero-image {
        max-height: 60vh; /* Adjust image height for medium screens */
    }
    .hero-divider {
        bottom: 39%;
    }
    .hero-content h1 {
        font-size: 2.5rem;  /* Øk fontstørrelsen for overskriften */
    }

    .hero-content p {
        font-size: 1.2rem;  /* Øk fontstørrelsen for paragrafen */
    }

    .main-text-section h1 {
        font-size: 2.5rem;  /* Øk fontstørrelsen for overskriften */
    }

    .main-text-section p {
        font-size: 1.4rem;  /* Øk fontstørrelsen for paragrafen */
    }
    .services {
        padding: 5vh 2rem; /* Juster padding for mellomstore skjermer */
    }
}


/* Responsive design for screens smaller than 768px */
@media screen and (max-width: 768px) {
    .hero-image {
        max-height: 60vh; /* Adjust image height for smaller screens */
    }
    .hero-divider {
        bottom: 37%;
    }

    .hero-text-section {
        padding-top: 40px;
        margin-top: -100px;
    }

    .hero-image-section::after {
        height: 50px;
    }

    .hero-content h1 {
        margin-top: 60px;
      font-size: 30px;
    }

    .hero-content p {
      font-size: 16px;
    }

    .services {
        align-items: center;
        padding: 0;
        margin-top: -20vh;
        margin-bottom: 100px;
    }

    .service {
        width: 33%; /* Make each service take up most of the screen width */
        margin-bottom: 10px;
        text-align: center;
    }

    .service img {
      width: 70px;
      height: 70px;
      margin-bottom: 15px;
    }

    .service h3 {
        font-size: 16px;
    }

    .service p {
        font-size: 12px;
    }

    .main-text-section {
      padding: 40px 20px;
    }

    .main-content h1 {
      font-size: 20px;
    }

    .main-content p {
      font-size: 14px;
      max-width: 500px;
    }
}

@media screen and (max-width: 680px) {
    .hero-image-section::after {
        height: 290px;
    }
    .hero-divider {
        bottom: 37%;
        width: 180%;
    }
    .hero-content h1 {
      font-size: 26px;
      margin-top: 40px;
    }

    .hero-content p {
      font-size: 12px;
    }
    .services {
        align-items: center;
        margin-top: -20vh; /* Increase the space to prevent overlap */
        display: grid;
        grid-template-columns: 1fr 1fr; /* Two items per row on small screens */
        grid-gap: 10px;
        margin-bottom: 100px;
    }

    .service {
        width: 100%;  /* Full width for smaller screens */
        text-align: center;
    }

    .service img {
        width: 70px;
        height: 70px;
    }

    .service h3 {
        font-size: 14px;
    }

    .service p {
        font-size: 12px;
    }

    .main-content h1 {
      font-size: 18px;
    }

    .main-content p {
      font-size: 14px;
      max-width: 500px;
    }
    .section {
        height: 30vh;
    }
}

@media screen and (max-width: 480px) {
    .hero-image-section {
        top: 0;
        left: 0;
        width: 100%;
        height: 80vh;  /* Juster høyden etter behov */
        z-index: 2;  /* Sørg for at teksten vises over bildet */
    }

     .hero-image {
        object-fit: cover;
        object-position: center;
    }

    .hero-text-section {
        position: absolute;
        top: 70%;  /* Juster etter behov for å plassere teksten under bildet */
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        padding: 10px;
        z-index: 3;
    }

    .hero-image-section::after {
        height: 250px;
    }

    .hero-content h1 {
      font-size: 24px;
    }

    .hero-content p {
      font-size: 12px;
      max-width: 400px;
    }

    .services {
        padding: 15px;
        margin-top: -20vh;
    }

    .service {
        width: 100%;
    }

    .service img {
        width: 60px;
        height: 60px;
    }

    .service h3 {
        font-size: 14px;
    }

    .service p {
        font-size: 9px;
    }

    .main-text-section {
      padding: 30px 15px;
    }

    .main-content h1 {
      font-size: 18px;
    }

    .main-content p {
      font-size: 12px;
      max-width: 300px;
    }
    .section {
        height: 50vh;
    }
    .footer {
        bottom: 0;
    }
}
