/* Global styling */
body {
  background-color: #eef6fa; /* Bakgrunnsfarge for body */
  font-family: 'Exo 2';
  margin: 0;
  padding: 0;
}

/* Navbar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  transition: background-color 0.3s ease;
  padding: 10px 20px;
  height: 100px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  z-index: 1000; 
  position: fixed; 
  width: 100%; 
}
.navbar-scrolled {
  background-color: #eef6fa; 
}


.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 60px; 
  height: auto;
  margin-right: 5px; 
}
.logo-container a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-container h1 {
  font-size: 52px;
  font-family: 'Lato';
  font-weight: 300; 
  color: #2C3E50;
  margin: 0;
  margin-right: 10px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links ul {
  list-style: none; 
  padding: 0;
  margin: 0;
  display: flex; 
}

.nav-links li {
  margin: 0 20px; 
}

.nav-links a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  font-family: 'Exo 2';
}

.nav-links a:hover {
  color: #1e90ff;
}

/* Hamburger Menu (hidden by default) */
.hamburger {
  display: none; /* Skjul hamburger-menyen på store skjermer */
  flex-direction: column;
  cursor: pointer;
  z-index: 1001;
  position: absolute;
  right: 20px;
}

.hamburger .line {
  width: 28px;
  height: 2px;
  background-color: #000;
  margin: 3px 0;
}



/* Responsiv design for mobilskjermer */


@media screen and (max-width: 1024px) {
  .navbar {
    height: auto;
    padding: 10px 15px;
  }

  .logo-container h1 {
    font-size: 40px; 
  }
  .logo {
    width: 50px; 
  }

  .nav-links {
    flex-direction: column; 
    margin-top: 10px;
  }
  .nav-links li {
    margin: 0 10px; 
  }

  .nav-links a {
    font-size: 18px; 
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    height: auto;
    padding: 10px 15px;
  }

  .logo-container h1 {
    font-size: 34px; 
  }
  .logo {
    width: 40px; 
  }

  .nav-links {
    flex-direction: column; 
    margin-top: 10px;
  }
  .nav-links li {
    margin: 0 10px; 
  }

  .nav-links a {
    font-size: 16px; 
  }
}

/* Enda mer responsiv design for veldig små skjermer (mobiltelefoner) */
@media screen and (max-width: 550px) {
  .logo-container h1 {
    font-size: 28px; /* Reduser fontstørrelsen på logoen for veldig små skjermer */
  }

  .logo {
    width: 30px; /* Juster størrelsen på logoen */
  }

  .nav-links li {
    margin: 0 7px; /* Spacing between links */
  }

  .nav-links a {
    font-size: 14px; /* Reduser fontstørrelsen på lenkene for veldig små skjermer */
  }
}

/* Enda mer responsiv design for veldig små skjermer (mobiltelefoner) */
@media screen and (max-width: 480px) {
  .logo-container h1 {
    font-size: 26px; /* Reduser fontstørrelsen på logoen for veldig små skjermer */
  }
  .logo {
    width: 25px; /* Juster størrelsen på logoen */
  }
  .navbar {
    height: auto;
    padding: 10px 15px;
  }

  .nav-links {
    position: fixed;
    top: -10px;
    right: 0;
    height: 100%;
    width: 250px;
    background-color: #2C3E50; /* Mørk bakgrunn */
    padding: 50px 20px;
    transition: right 0.5s ease;
    z-index: 10;
    display: none;
  }

  .nav-links.active {
    right: 0;
    display: block;
  }
  
  .nav-links ul {
    list-style: none; /* Remove bullet points */
    padding: 0;
    margin: 0;
    display: flex; /* Make the list horizontal */
    flex-direction: column;
  }
  .nav-links li {
    margin: 10px 0;
    text-align: center; 
    list-style-type: none;
  }

  .nav-links a {
    font-size: 18px; 
    padding: 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    transition: color 0.3s ease;
  }

  .hamburger {
    display: flex; /* Vis hamburger-menyen på små skjermer */
  }
  .hamburger.hide {
    display: none; /* Skjul hamburger-ikonet når menyen er åpen */
  }
  
  .nav-links.active + .hamburger {
    display: none; /* Sørg for at hamburger-ikonet skjules når menyen er åpen */
  }
}