  
  /* Hero Section */
  .hero-image-section {
    display: flex;
    justify-content: flex-start; /* Plasserer innholdet til venstre */
    align-items: center; /* Sentraliserer innholdet vertikalt */
    height: auto; /* Full høyde på skjermen */
    width: 100%;
    position: relative;
    overflow: hidden;
    flex-direction: column;
}

.hero-image {
    width: 100%;
    height: auto;
    max-height: 700px;
    object-fit: cover; 
    object-position: center; 
    display: block;
    margin: 0 auto;
    z-index: 1;
}

.hero-image-section::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px; /* Juster høyden på overgangen */
    background-color: #D5EAF9; /* Den blå bakgrunnsfargen */
    clip-path: polygon(
        0% 60%,    /* Venstre topp */
        25% 35%,   /* Første topp */
        50% 60%,   /* Midtpunkt på andre topp */
        75% 35%,   /* Andre topp */
        100% 80%,  /* Høyre topp */
        100% 100%, /* Nedre høyre hjørne */
        0% 100%    /* Nedre venstre hjørne */
    );
    z-index: 2; /* Plassere over bildet */
}

.hero-text-section {
    display: flex;
    flex-direction: column;  
    align-items: center;     
    justify-content: center; 
    text-align: center;     
}

.hero-content {
    max-width: 800px;
    margin-top: 20px; 
    margin: 0 auto;
}

.hero-content h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}
  
.hero-content p {
    font-size: 20px;
    line-height: 1.6;
    margin-top: 20px;
}
  
  /* Services Section */
.services {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 50px 20px;
    background-color: #f4f4f4;
    text-align: center;
}
  
.service {
    text-align: center;
    align-items: center;
    width: 30%;
}
  
.service img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}
  
.service h3 {
    font-size: 24px;
    font-weight: bold;
}
  
.service p {
    font-size: 16px;
    max-width: 350px;
    margin: 0 auto;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;           
    text-align: center;     
    background-color: #b0def4; 
    padding: 10px 0;       
    font-size: 14px;        
    color: #333;            
}
  
.footer p {
    margin: 0;              /* Fjern marginen for p-elementet */
}
  
  