/* Global styling */
body {
  background-color: #eef6fa; /* Bakgrunnsfarge for body */
  font-family: 'Glory';
  margin: 0;
  padding: 0;
}

/* Navbar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  transition: background-color 0.3s ease;
  padding: 10px 20px;
  height: 100px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Legger til skyggeeffekt */
  z-index: 1000; /* Sørger for at navbar er foran alt annet */
  position: fixed; /* Fikser navbar på toppen av siden */
  width: 100%; /* Fyller hele bredden av siden */
}
.navbar-scrolled {
  background-color: #eef6fa; /* Or any other solid color */
}


.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 60px; /* Juster størrelsen på logoen */
  height: auto;
  margin-right: 5px; /* Avstand mellom logoen og teksten */
}
.logo-container a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-container h1 {
  font-size: 52px;
  font-family: 'Lato'; /* Bruker Lato for logoen */
  font-weight: 300; /* Lato Light */
  color: #2C3E50;
  margin: 0;
  margin-right: 10px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links ul {
  list-style: none; /* Remove bullet points */
  padding: 0;
  margin: 0;
  display: flex; /* Make the list horizontal */
}

.nav-links li {
  margin: 0 20px; /* Spacing between links */
}

.nav-links a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  font-family: 'Exo 2', sans-serif;
}

.nav-links a:hover {
  color: #1e90ff; /* Blå farge ved hover */
}

